/* body {
margin: 50px;
} */

#todays_challenge {
  font-family: "Lilita One", cursive;
  color: rgb(14, 230, 7);
  font-weight: bold;
  font-size: 50px;
}

a2{
  background-color: brown;
  padding: 150px 75px;
  border-radius: 30px;
  font-family: "Anton", sans-serif;
 
border: 50px;
  font-size: 50px;
  display: block;

}
