body {
  font-family: sans-serif;
  text-align: center;
  /* background-image: url(../images/matrix.png);
  background-size: 100vw 100vh; */
  background-color: rgb(107, 186, 255);
}
img {
  width: 200px;
  height: 200px;
  margin-bottom: 50px;
  border-radius: 100px;
  
  
}

#todays_challenge {
  font-family: "Lilita One", cursive;
  color: rgb(0, 0, 0);
  font-weight: bold;
  font-size: 50px;
}

p {
  font-family: "Lilita One", cursive;
  color: rgb(0, 0, 0);
  font-weight: bold;
  font-size: 50px;
}

h1 {
  font-family: "Anton", sans-serif;
  font-size: 50px;
  color: rgb(236, 225, 223);
}
p a {
  color: rgb(112, 20, 28);
  text-decoration: none;
  
}

p a:hover {
  text-decoration: underline;
}

a1 {
  font-family: "Anton", sans-serif;
  text-align: center;

  font-size: 50px;

  color: rgb(109, 255, 80);
  padding: 20px;
  margin: 20px 0;
  border: 5px;
  background-color: black;
  border-radius: 75px;
}
