body {
  background-color: rgb(231, 229, 229);
  font-family: "impact", sans-sarif;
}

h1 {
  text-align: center;
  color: rgb(0, 0, 0);
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
form {
  width: 30rem;
  margin: 3rem auto;
  background-color: rgb(244, 255, 255);
  padding: 1rem;
  border-radius: 6px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
}

label {
  margin-bottom: 0.5rem;

  display: block;
}
input,
textarea,
select {
  width: 100%;
  display: block;
  margin-bottom: 1rem;
  box-sizing: border-box;
  font: inherit;
  border: 1px solid rgb(184, 184, 184);
  padding: 0.25rem;
  color: rgb(61, 58, 58);
}

textarea {
  resize: none;
}

input:focus,
textarea:focus {
  background-color: rgb(232, 246, 250);
  color: rgb(32, 5, 63);
}
.buttons button {
  display: inline-flex;
  font: inherit;
  background-color: rgb(50, 103, 219);
  color: rgb(228, 228, 228);
  border: 1px solid rgb(32, 5, 63);
  padding: 0.5rem 1.5rem;
  border-radius: 4px;
  cursor: pointer;
  position: relative;
  left: 18rem;
}

.buttons button:hover {
  background-color: rgb(50, 151, 219);
}

.form-control-inline {
  display: flex;
}

.form-control-inline input {
  width: auto;
  margin-right: 0.5rem;
}
